<div class="container">
    <div class="row col-md-12" >
        <div class="col-md-8">
            <h4>Areas de Estudo</h4>
        </div>
        <br>
        
    </div>
    <table class="table table-striped">
        <!-- *ngIf="clientes && clientes.length > 0">-->
       <thead>
           <tr>
               <th>Nome</th>
               <th><button class="btn btn-primary" (click)="add()" title="Adicionar">
                   +
               </button></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let area of areas let index = index ">
               <td >{{area.nome}}</td>
               <td>
                   <button class="btn btn-primary" (click)="editar(area)" >Editar</button>
                   <button class="btn btn-danger" (click)="deletar(area.id, index)" title="Excluir">X</button>
               </td>
           </tr>
       </tbody>
       <tbody>
           <tr  *ngIf="areas && areas.length === 0">
               <app-sem-registros></app-sem-registros>
           </tr>
       </tbody>

   </table>
</div>