<div class="container">
    <div class="row col-md-12" >
        <div class="col-md-8">
            <h4>Usuarios</h4>
        </div>
        <br>
        
    </div>
    <table class="table table-striped">
        <thead>
           <tr>
               <th>Nome</th>
               <th>Endereço</th>
               <th>E-mail</th>
               <th>Data de Cadastro</th>
               <th><button class="btn btn-primary" (click)="add()" title="Adicionar">
                   +
               </button></th>
           </tr>
       </thead>
       <tbody  *ngIf="usuarios && usuarios.length > 0">
           <tr *ngFor="let usuario of usuarios, let index = index ">
               <td>{{usuario.nome}}</td>
               <td >
                    <b *ngFor="let endereco of usuario.enderecos, let index = index ">
                {{endereco.logradouro}}, {{endereco.numero}}
                    </b> 
               </td>
               <td >{{usuario.email}}</td>
               <td>{{usuario.modificacao | date}}</td>
               <td>
                   <button class="btn btn-primary" (click)="editar(usuario)" >Editar</button>
                   <button class="btn btn-danger" (click)="deletar(usuario.id, index)" title="Excluir">X</button>
               </td>
           </tr>
       </tbody>
       <tbody>
           <tr  *ngIf="usuarios && usuarios.length === 0">
               <app-sem-registros></app-sem-registros>
           </tr>
       </tbody>
   </table>
</div>