<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Portal Alexander</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="">Clientes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="produtos">Produtos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sistemico
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink="/sistema">Sistemas</a>
            <a class="dropdown-item" href="#" routerLink="/modulo">Modulos</a>
            <a class="dropdown-item" href="#" routerLink="/funcionalidade">Funcionalidades</a>
            <!--<div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Contato</a>-->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Academico
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink="/academico/area-estudo">Area de Estudo</a>
            <a class="dropdown-item" href="#" routerLink="/academico/atividade-escolar">Atividade Escolar</a>
            <a class="dropdown-item" href="#" routerLink="/academico/escolaridade">Escolaridade</a>
            <a class="dropdown-item" href="#" routerLink="/academico/instituicao-ensino">Instituicao de Ensino</a>
            <!--<div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Contato</a>-->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profissional
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink="/profissional/cargo">Cargo</a>
            <a class="dropdown-item" href="#" routerLink="/profissional/empresa">Empresa</a>
            <a class="dropdown-item" href="#" routerLink="/profissional/experiencia-profissional">Experiencia Profissional</a>
            <a class="dropdown-item" href="#" routerLink="/profissional/segmento">Segmento</a>
            <!--<div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Contato</a>-->
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <!--<form class="form-inline my-2 my-lg-0" (formGroup)="buscarForm" (ngSubmit)="buscar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>