<div class="container">
    <div class="row col-md-12" >
        <div class="col-md-8">
            <h4>Atividade Escolar</h4>
        </div>
        <br>
        
    </div>
    <table class="table table-striped" >
        <!--*ngIf="atividades && atividades.length > 0"-->
       <thead>
           <tr>
               <th>Nome</th>
               <th>Descricao</th>
               <th><button class="btn btn-primary" (click)="add()" title="Adicionar">
                   +
               </button></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let atividade of atividades let index = index ">
               <td >
                        {{atividade.nome}}
                </td>
               <td >
                    <b >
                        {{atividade.descricao}}
                    </b> 
               </td>
               <td>
                   <button class="btn btn-primary" (click)="editar(atividade)" >Editar</button>
                   <button class="btn btn-danger" (click)="deletar(atividade.id, index)" title="Excluir">X</button>
               </td>
           </tr>
       </tbody>

   </table>
</div>