<div class="container">
    <div class="row col-md-12" >
        <div class="col-md-8">
            <h4>Modulos</h4>
        </div>
        <br>
        
    </div>
    <table class="table table-striped">
       <thead>
           <tr>
               <th>Sistema</th>
               <th>Modulo</th>
               <th>Funcionalidades</th>
               <th><button class="btn btn-primary" (click)="add()" title="Adicionar">
                   +
               </button></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let modulo of modulos let index = index ">
               <td >
                   {{modulo.sistema.nome}}
                </td>
               <td > {{modulo.nome}} </td>
               <td >
                   
               </td>
               <td>
                   <button class="btn btn-primary" (click)="editar(modulo)" >Editar</button>
                   <button class="btn btn-danger" (click)="deletar(modulo.id, index)" title="Excluir">X</button>
               </td>
           </tr> 
       </tbody>

   </table>
</div>