<div class="modal-header">
    <h4 class="modal-title">{{titulo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross-click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group">
            <label for="title">Nome:</label>
            <input type="text" id="nome" placeholder="Nome" class="form-control" formControlName="nome"/>
            <span style="color: red;" *ngIf="form.controls['nome'].touched && form.controls['nome'].errors?.required">Campo requerido</span>
        </div>
        <div class="form-group">
            <label for="title">Endereco:</label>
            <input type="text" id="logradouro" placeholder="Logradouro" class="form-control" formControlName="logradouro" autocomplete="on"/>
            <button class="btn btn-primary" (click)="pesquisarCep()" >Pesquisar</button>
            <span style="color: red;" *ngIf="form.controls['logradouro'].touched && form.controls['logradouro'].errors?.required">Campo requerido</span>
        </div>

        <div class="form-group">
            <label for="title">Selecione o CEP:</label>
            <select id="cmbLogradouros" (changed)="setLogradouro()"  class="form-control" formControlName="cep">
                <option *ngFor="let e of enderecos" value="{{e.cep}}"
                >{{e.logradouro}}</option>
            </select>
            <span style="color: red;" *ngIf="form.controls['cep'].touched && form.controls['cep'].errors?.required">Campo requerido</span>
        </div>
    </form>
</div>

<div class="modal-footer" >
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" >Fechar</button>
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid" >Salvar</button>
</div>


<script>
    debugger;
setTimeout(function(){
    debugger;
    $(".d-block").removeClass('fade');
}, 2000);


    
</script>