<div class="container">
    <div class="row col-md-12" >
        <div class="col-md-8">
            <h4>Escolaridade</h4>
        </div>
        <br>
        
    </div>
    <table class="table table-striped" *ngIf="escolaridades && escolaridades.length > 0">
       <thead>
           <tr>
               <th>Instituicao</th>
               <th>Nome</th>
               <th>Inicio</th>
               <th>Fim</th>
               <th>Nivel</th>
               <th><button class="btn btn-primary" (click)="add()" title="Adicionar">
                   +
               </button></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let escolaridade of escolaridades let index = index ">
               <td >
                   <b *ngIf="escolaridade.instituicao">
                        {{escolaridade.instituicao.nome}}
                    </b>
                </td>
               <td >
                    <b >
                        {{escolaridade.nomeDoCurso}}
                    </b> 
               </td>
               <td>
                    <b >
                        {{escolaridade.inicio}}
                    </b> 
                </td>
                <td>
                    <b >
                        {{escolaridade.fim}}
                    </b> 
                </td>
                <td>
                    <b >
                        {{escolaridade.escolaridade}}
                    </b> 
                </td>
               <td>
                   <button class="btn btn-primary" (click)="editar(escolaridade)" title="Editar" >Editar</button>
                   <button class="btn btn-danger" (click)="deletar(escolaridade.id, index)" title="Excluir">X</button>
               </td>
           </tr>
       </tbody>

   </table>
</div>