<div class="container">
    <div class="row col-md-12" >
        <div class="col-md-8">
            <h4>Funcionalidades</h4>
        </div>
        <br>
        
    </div>
    <table class="table table-striped">
       <thead>
           <tr>
               <th>Sistema</th>
               <th>Modulo</th>
               <th>Funcionalidade</th>
               <th><button class="btn btn-primary" (click)="add()" title="Adicionar">
                   +
               </button></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let funcionalidade of funcionalidades let index = index ">
               <td >{{funcionalidade.modulo.sistema.nome}}</td>
               <td >{{funcionalidade.modulo.nome}}</td>
               <td >{{funcionalidade.nome}}</td>
               <td>
                   <button class="btn btn-primary" (click)="editar(funcionalidade)" >Editar</button>
                   <button class="btn btn-danger" (click)="deletar(funcionalidade.id, index)" title="Excluir">X</button>
               </td>
           </tr> 
       </tbody>

   </table>
</div>