<div class="container">
    <div class="row col-md-12" >
        <div class="col-md-8">
            <h4>Instituicoes</h4>
        </div>
        <br>
        
    </div>
    <table class="table table-striped">
        <!-- *ngIf="clientes && clientes.length > 0">-->
       <thead>
           <tr>
               <th>Nome</th>
               <th>Endereço</th>
               <th><button class="btn btn-primary" (click)="add()" title="Adicionar">
                   +
               </button></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let instituicao of instituicoes let index = index ">
               <td >{{instituicao.nome}}</td>
               <td >
                    <b >
                {{instituicao.endereco.logradouro}}, {{instituicao.endereco.numero}}
                    </b> 
               </td>
               <td>
                   <button class="btn btn-primary" (click)="editar(instituicao)" >Editar</button>
                   <button class="btn btn-danger" (click)="deletar(instituicao.id, index)" title="Excluir">X</button>
               </td>
           </tr> 
       </tbody>

   </table>
</div>