<div class="container">
    <div class="row col-md-12" >
        <div class="col-md-8">
            <h4>Sistemas</h4>
        </div>
        <br>
        
    </div>
    <table class="table table-striped">
       <thead>
           <tr>
               <th>Sistema</th>
               <th><button class="btn btn-primary" (click)="add()" title="Adicionar">
                   +
               </button></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let sistema of sistemas let index = index ">
               <td >{{sistema.nome}}</td>
               <td>
                   <button class="btn btn-primary" (click)="editar(sistema)" >Editar</button>
                   <button class="btn btn-danger" (click)="deletar(sistema.id, index)" title="Excluir">X</button>
               </td>
           </tr> 
       </tbody>

   </table>
</div>