<div class="modal-header">
    <h4 class="modal-title">{{titulo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross-click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group">
            <label for="title">Sistema:</label>
            <select (changed)="setSistema()"  class="form-control" formControlName="idSistema">
                <option value="" selected="selected">-- Selecione --</option>
                <option *ngFor="let s of sistemas" value="{{s.id}}">{{s.nome}}</option>
            </select>
            <span style="color: red;" *ngIf="form.controls['idSistema'].touched && form.controls['idSistema'].errors?.required">Campo requerido</span>
        </div>
        <div class="form-group">
            <label for="title">Nome:</label>
            <input type="text" id="nome" placeholder="Nome" class="form-control" formControlName="nome"/>
            <span style="color: red;" *ngIf="form.controls['nome'].touched && form.controls['nome'].errors?.required">Campo requerido</span>
        </div>
        <div class="form-group" style="display:none;">
            <input type="text" id="id" placeholder="Id" class="form-control" formControlName="id"
        </div>

    </form>
</div>

<div class="modal-footer" >
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" >Fechar</button>
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid" >Salvar</button>
</div>


<script>
    debugger;
setTimeout(function(){
    debugger;
    $(".d-block").removeClass('fade');
}, 2000);


    
</script>