<div class="modal-header">
    <h4 class="modal-title">{{titulo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross-click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group" style="display: none;">
            <label for="title">Nome:</label>
            <input type="text" id="nome" placeholder="Nome" class="form-control" formControlName="nome" autocomplete="on"/>
            <span style="color: red;" *ngIf="form.controls['nome'].touched && form.controls['nome'].errors?.required">Campo requerido</span>
        </div>
        <div class="form-group">
            <label for="title">Instituicao:</label>
            <select id="cmbInstituicao" (changed)="setInstituicao()"  class="form-control" formControlName="idInstituicao">
                <option *ngFor="let i of instituicoes" value="{{i.id}}" [selected]="i.selecionado"
                >{{i.nome}}</option>
            </select>
            <span style="color: red;" *ngIf="form.controls['idInstituicao'].touched && form.controls['idInstituicao'].errors?.required">Campo requerido</span>
        </div>
        <div class="form-group">
            <label for="title">Inicio:</label>
            <input type="text" id="inicio" placeholder="Inicio" class="form-control" formControlName="inicio" autocomplete="on"/>
            <span style="color: red;" *ngIf="form.controls['inicio'].touched && form.controls['inicio'].errors?.required">Campo requerido</span>
        </div>
        <div class="form-group">
            <label for="title">Fim:</label>
            <input type="text" id="fim" placeholder="Fim" class="form-control" formControlName="fim" autocomplete="on"/>
            <span style="color: red;" *ngIf="form.controls['fim'].touched && form.controls['fim'].errors?.required">Campo requerido</span>
        </div>
        <div class="form-group">
            <label for="title">Nivel:</label>
            <select class="form-control" formControlName="nivel">
                <option value="" selected="selected">-- Selecione --</option>
                <option *ngFor="let n of niveis" value="{{n}}">{{n}}</option>
            </select>
            <span style="color: red;" *ngIf="form.controls['nivel'].touched && form.controls['nivel'].errors?.required">Campo requerido</span>
        </div>

    </form>
</div>

    <script>
        debugger;
    setTimeout(function(){
        debugger;
        $(".d-block").removeClass('fade');
    }, 5000);
    
    </script>
<div class="modal-footer" >
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" >Fechar</button>
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid" >Salvar</button>
</div>

